<ion-header>
  <ion-toolbar>
    <ion-title>Add new recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="add-image">
    <ion-label position="fixed">
      <ion-icon name="image"></ion-icon>
    </ion-label>
    <ion-input slot="end" type="file" (change)="onSelectFile($event)" accept="image/png, image/jpeg"></ion-input>
    <div *ngIf="url" class="img-container">
      <img [src]="url" alt="">
    </div>
    
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Servings</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Time</ion-label>
    <ion-note slot="end" color="medium">min</ion-note>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Ingridients amount</ion-label>
    <ion-input type="number" (change)="checkIfInteger($event)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Ingridients</ion-label>
    <div *ngFor="let item of arr">
      <ion-input type="text">
        <ion-note slot="start" color="medium">{{ item }}</ion-note>
      </ion-input>
    </div>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Method</ion-label>
    <ion-textarea autoGrow></ion-textarea>
  </ion-item>

</ion-content>
