<ion-header>
  <ion-toolbar>
    <ion-title>Add new recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button color="light" expand="block" text-center>
    <ion-icon name="image"></ion-icon>
    <ion-input type="file" (change)="onSelectFile($event)" accept="image/png, image/jpeg"></ion-input>
  </ion-button>
  <div class="img-container">
    <img [src]="url" alt="" height="200" >
  </div>
  

  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Servings</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Time (min)</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Ingridients amount</ion-label>
    <ion-input type="number" (change)="checkIfInteger($event)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Ingridients</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Method</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>



</ion-content>
