<ion-header>
  <ion-toolbar>
<ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New recipe</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
      <ion-item>
        <ion-label position="stacked">
          <span class="req">*</span>
          Recipe title
        </ion-label>
        <ion-input [(ngModel)]="recipe.title" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Amount of servings</ion-label>
        <ion-input type="number" [(ngModel)]="recipe.servings" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Prepare time </ion-label>
        <ion-input type="number" [(ngModel)]="recipe.time" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <span class="req">*</span>
          Ingridients (comma separated)
        </ion-label>
        <ion-input [(ngModel)]="recipe.ingridients" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <span class="req">*</span>
          Method
        </ion-label>
        <ion-input [(ngModel)]="recipe.method" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Image URL</ion-label>
        <ion-input [(ngModel)]="recipe.pic" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <span class="req">*</span>
          Category
        </ion-label>
        <ion-select [(ngModel)]="recipe.recipeType">
          <ion-select-option *ngFor="let type of types" [value]="type">{{ type }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="block" color="dark" (click)="addRecipe()">Add Recipe</ion-button>
      <ion-item>
        <ion-label color="medium" position="stacked">
          <span class="req-note">*</span>
          Required field
        </ion-label>
      </ion-item>

 
</ion-content>