<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Update recipe</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <div *ngIf="recipe">
    <ion-item>
      <ion-label position="stacked">Recipe title</ion-label>
      <ion-input [(ngModel)]="recipe.title" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Amount of servings</ion-label>
      <ion-input type="number" [(ngModel)]="recipe.servings" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Prepare time </ion-label>
      <ion-input type="number" [(ngModel)]="recipe.time" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Ingridients (comma separated)</ion-label>
      <ion-input [(ngModel)]="recipe.ingridients" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Method</ion-label>
      <ion-input [(ngModel)]="recipe.method" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Image URL</ion-label>
      <ion-input [(ngModel)]="recipe.pic" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Type of recipe</ion-label>
      <ion-select [(ngModel)]="recipe.recipeType">
        <ion-select-option *ngFor="let type of types" [value]="type">{{ type }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" (click)="updateRecipe()">Update Recipe</ion-button>
  </div>
</ion-content>
