ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#recipe-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#recipe-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

// if chosen breakfast
ion-menu.md ion-item.breakfast {
  --background: rgba(var(--ion-color-danger-rgb), 0.14);
}

ion-menu.md ion-item.breakfast ion-icon, ion-item.breakfast, ion-menu.ios ion-item.breakfast ion-icon {
  color: var(--ion-color-danger);
}

// if chosen desserts
ion-menu.md ion-item.desserts {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.desserts ion-icon, ion-item.desserts, ion-menu.ios ion-item.desserts ion-icon {
  color: var(--ion-color-primary);
}

// if chosen dinner
ion-menu.md ion-item.dinner {
  --background: rgba(var(--ion-color-secondary-rgb), 0.14);
}

ion-menu.md ion-item.dinner ion-icon, ion-item.dinner, ion-menu.ios ion-item.dinner ion-icon {
  color: var(--ion-color-secondary);
}

// if chosen drinks
ion-menu.md ion-item.drinks {
  --background: rgba(var(--ion-color-tertiary-rgb), 0.14);
}

ion-menu.md ion-item.drinks ion-icon, ion-item.drinks, ion-menu.ios ion-item.drinks ion-icon {
  color: var(--ion-color-tertiary);
}

// if chosen salads
ion-menu.md ion-item.salads {
  --background: rgba(var(--ion-color-success-rgb), 0.14);
}

ion-menu.md ion-item.salads ion-icon, ion-item.salads, ion-menu.ios ion-item.salads ion-icon {
  color: var(--ion-color-success);
}

// if chosen lunch
ion-menu.md ion-item.lunch {
  --background: rgba(var(--ion-color-warning-rgb), 0.14);
}

ion-menu.md ion-item.lunch ion-icon, ion-item.lunch, ion-menu.ios ion-item.lunch ion-icon {
  color: var(--ion-color-warning);
}

// not chosen category
ion-menu.md ion-item ion-icon {
  color: #616e7e;
  
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}