<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recipe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="updateRecipe()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="presentAlertConfirm()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <div *ngIf="recipe">
    <ion-card>
      <ion-card-header>
        <img [src]="recipe.pic" alt="">
        <ion-card-subtitle>Time: {{ recipe.time }} min</ion-card-subtitle>
        <ion-card-subtitle>Servings: {{ recipe.servings }}</ion-card-subtitle>
        <br>
        <ion-card-title>{{ recipe.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <hr>
        <br>
      <ion-card-subtitle>Ingrididients</ion-card-subtitle>
      <p> {{ ingridients }} </p>
      <br>
      <ion-card-subtitle>Method</ion-card-subtitle>
      <p>{{ recipe.method }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>