hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    height: 1px;
    background-color: rgba(var(--ion-color-medium-rgb), 0.1);
  }

  p {
    color: var(--ion-color-dark);
  }

  img {
    width:100%;
  }

  .cancel {
    color: var(--ion-color-dark) !important;
  }
